.portfolio-content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pcard {
    width: 18.75rem;
    height: 12.5rem;
    margin: 20px;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s;
}

#nlpapp {
    background-image: url("../img/nlp_preview2.png");
}

#dashboard {
    background-image: url("../img/dash_preview2.png");
}

.pcard h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.card .buttons {
    display: none;
    margin-top: -2rem;
}

.card .buttons button {
    height: 1.875rem;
    width: 4.375rem;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #062c33;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card .buttons button:hover {
    background-color: #818b8f;
}

.pcard:hover {
    filter: blur(1px);
}

.card:hover .card-content {
    height: 240px;
}

.card:hover .buttons {
    text-align: center;
    display: block;
}

.modal {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
}

.modal-content {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 1rem;
    margin: auto;
    margin-top: 8rem;
    width: 80%;
    color: #000;
    opacity: 1;
    box-shadow: 0 0 15px rgba(29, 29, 29, 0.6);
}

.modal-content img {
    width: 80%;
}

.close {
    float: right;
    cursor: pointer;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin: 32px;
    padding: 16px;
    text-align: left;
    transition: transform 0.2s;
    /* max-height: 18.125rem; */
}

.card-title {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #333;
    /*font-family: 'Share Tech Mono', monospace;*/
}

.card-content {
    margin-top: 1rem;
    color: #000;
}

.card:hover {
    transform: translateY(-10px);
}
