@media (max-height: 700px) {
    .modal-content {
        margin-top: 4rem;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .masthead-subheading a {
        display: block;
    }

    .hyphen {
        display: none !important;
    }

    .acc-container {
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .about-content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 800px) {
    .modal-content {
        width: 100%;
        margin-top: 14rem;
    }
}

@media (max-width: 1150px) {
    section {
        padding: 0;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: fit-content;
    }

    .portfolio-content {
        display: flex;
        flex-direction: column;
    }

    .portfolio-content p {
        margin: 20px 0;
    }

    .card {
        width: 100%;
        max-width: 400px;
        height: fit-content;
    }

    .hc button {
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    section {
        padding: 0;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: fit-content;
    }

    nav {
        position: inherit;
    }

    .acc-container {
        margin: 0;
    }

    .acc-content li {
        font-family: Arial, Helvetica, sans-serif;
    }

    .about-content,
    .portfolio-content {
        display: flex;
        flex-direction: column;
        /* Stack items vertically */
    }

    .about-content p {
        margin: 20px 0;
    }

    .card {
        width: 100%;
        max-width: 400px;
        height: fit-content;
    }

    .card-content:active {
        height: 250px;
    }

    .pcard {
        width: auto;
        max-width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        background-position: center;
    }

    .hc button {
        margin-bottom: 40px;
    }

    .expand-button {
        margin-top: -40px;
    }

    .masthead {
        text-overflow: clip;
    }

    .masthead-heading {
        margin-top: -1rem;
        padding: 2rem;
    }

    .masthead-subheading {
        margin-top: -50px;
    }
}

@media screen and (max-height: 900px) {
    .masthead-avatar {
        margin-top: 1rem;
    }
}
