* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* font-family: 'Share Tech Mono', monospace; */
    background-color: #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.nav-link.active {
    color: #818b8f;
}

.navbar-shrink {
    height: 4rem !important;
}

section {
    position: relative;
    height: 500px;
    z-index: 1;
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 5px;
}

section h2 {
    font-family: 'Share Tech Mono', monospace;
}

section .container {
    display: block;
}

footer {
    position: relative;
    bottom: 20;
    z-index: 1;
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 4rem !important;
    margin-top: auto;
    width: 100%;
}

footer .content {
    margin-top: -0.5rem;
}

footer a {
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
    margin: 0 0.5rem;
}

footer a:hover {
    color: #818b8f;
}

.container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width: 3.8rem;
}

.logo:hover {
    width: 4rem;
}

.hc {
    text-align: center;
}

.masthead {
    z-index: 0;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background-color: #2c3e50;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    padding-top: calc(3rem + 74px);
    padding-bottom: 6rem;
    font-family: 'Share Tech Mono', monospace;
}

.masthead-heading {
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    letter-spacing: 0.5rem;
}

.masthead-subheading {
    /* font-family: 'Share Tech Mono', monospace; */
    animation-name: name;
    animation-duration: 2s;
}

.masthead-avatar {
    margin-top: 8rem;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(214, 215, 216, .6);
    width: 12rem;
}

.dark {
    /* background-color: #1B2735; */
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    color: #fff;
}

.push {
    margin-top: 2rem;
}

.pull {
    margin-bottom: 2rem;
}

.about-content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hc button {
    height: 1.875rem;
    width: 4.375rem;
    padding: 5px 10px;
    margin-top: 3rem;
    background-color: #062c33;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container p {
    font-size: 0.9rem !important;
    font-family: 'Courier New', Courier, monospace;
}

.container button:hover {
    background-color: #818b8f;
}

.about-content p {
    flex: 1;
    margin: 0 2rem;
    line-height: 1.3rem;
    /* font-size: 0.8rem !important; */
    text-align: justify;
    /* font-family: 'Share Tech Mono', monospace; */
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: justify;
}

.scroll-b .expand-button {
    animation: bounce 2s infinite;
    font-size: 2rem;
}

#about,
#portfolio,
#research {
    animation-name: about;
    animation-duration: 2.5s;
}

#research {
    min-height: 600px;
}

.scroll-b {
    z-index: 4;
    margin-top: 5rem;
    display: inline-block;
    animation-name: name;
    animation-duration: 3s;
}

.scroll-b a {
    margin-top: 40px;
    color: white;
    font-size: 3rem;
}


.collapse {
    display: block;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

@keyframes animate {

    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-5px, -5px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(5px, 5px);
    }
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: rotate(90deg);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: rotate(90deg);
    }
}

@keyframes name {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes about {
    0% {
        margin-top: 1000px
    }

    100% {
        margin-top: 0px
    }
}

@keyframes bounce {

    0% {
        opacity: 0;
        transform: translate(0, -5px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(0, 5px);
    }
}